<footer class="bg-white rounded-lg shadow-lg shadow-green-400 dark:bg-gray-900 mt-8">
  <div class="max-w-screen-2xl mx-auto pt-10 bg-gray-800">
    <div class="sm:flex sm:items-center sm:justify-center">
      <div class="flex justify-center space-x-5">
        <a
          href=""
          class="rounded-full w-12 h-12 bg-gray-600 hover:bg-gray-300 text-gray-700 hover:text-gray-800 p-2 dark:bg-gray-100 dark:hover:bg-green-500 dark:text-gray-800 flex items-center justify-center focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-green-100"
        >
          <ion-icon
            name="logo-instagram"
            class="text-xl"
          ></ion-icon>
        </a>

        <a
          href=""
          class="rounded-full w-12 h-12 bg-gray-600 hover:bg-gray-300 text-gray-700 hover:text-gray-800 p-2 dark:bg-gray-100 dark:hover:bg-green-500 dark:text-gray-800 flex items-center justify-center focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-green-100"
        >
          <ion-icon
            name="logo-twitter"
            class="text-xl"
          ></ion-icon>
        </a>

        <a
          href=""
          class="rounded-full w-12 h-12 bg-gray-600 hover:bg-gray-300 text-gray-700 hover:text-gray-800 p-2 dark:bg-gray-100 dark:hover:bg-green-500 dark:text-gray-800 flex items-center justify-center focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-green-100"
        >
          <ion-icon
            name="logo-linkedin"
            class="text-xl"
          ></ion-icon>
        </a>
      </div>
    </div>

    <div class="mt-10 max-w-screen-2xl mx-auto md:py-8 bg-green-700 px-4 sm:px-6 items-center justify-center flex flex-col sm:flex-row sm:space-x-8">
      <span class="block text-md text-gray-100">
        © 2023
        <a
          href=""
          class="hover:underline"
          >WeebL</a
        >. All Rights Reserved.
      </span>
    </div>
  </div>
</footer>
